
.loadingtext {
    display: inline-block;
    top: 75% !important;
}

.box-row {
    border-radius: 10px;
    background: white;
    box-shadow: 0 30px 50px -20px rgba(112, 116, 122, 0.21);
    height: 30vh;
    margin-bottom: 5%;
    padding-top: 0.5vh;
    padding-left:1vh;
    padding-right:1vh;
}

.box-row-img {
    min-height: 75%;
    background-color: yellow;
    margin: 1vh;
}

.loadingtext {
    position: relative;
    top: 100px;
}

.loading {
    font-size: 30px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2500ms infinite;
    animation: ellipsis steps(4,end) 2500ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height:60%;
    width: 100%;
}
.content-image {
    animation: loadProfileImage 1s ease-in-out 0.5s;
    animation-fill-mode: both;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 30px 50px -20px rgba(112, 116, 122, 0.21);
    width: 40%;
    flex: none;
    background-size: cover;
    background-position: center;
}

.content-image::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.8;
    mix-blend-mode: screen;
}

.content-info {
    margin-top: 100px;
    padding: 8% 2% 2% 2%;
    position: relative;
}

.content-info h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0.7rem;
    position: absolute;
    animation-fill-mode: both;
}

.content-info h1.first-name {
    animation: titleEffect 1s cubic-bezier(0,0.2,0.4,1);
    top: -115px;
    left: -5px;
}

.content-info h1.second-name {
    animation: titleEffect 1s cubic-bezier(0,0,0.3,1);
    top: -50px;

}

.content-info h2 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-top: 0;
    margin-bottom: 5%;
}

.box-row-text h2 {
    text-align:left;
    color: #f63d47;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
