.resume{
   text-align:left;

}
ul {
    list-style-type: none;
}
.header {
    box-shadow: 0 30px 50px -20px rgba(112, 116, 122, 0.21);
    padding-bottom:1vh;
}
.experience {
    
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}
.alighRight {

    text-align: right;
    margin-left: 50%;
    box-shadow: -20px 40px 40px -20px rgba(112, 116, 122, 0.21);
}

.alighLeft {
    
    margin-right: 50%;
    box-shadow: 20px 40px 40px -20px rgba(112, 116, 122, 0.21);
}
