.resume{
   text-align:left;

}
ul {
    list-style-type: none;
}
.header {
    box-shadow: 0 30px 50px -20px rgba(112, 116, 122, 0.21);
    padding-bottom:1vh;
}
.shadow {
    box-shadow: inset 0px 11px 0 #f00
}
